kube-prometheus-stack:
  grafana:
    enabled: true
    service:
      type: ClusterIP

  prometheus:
    prometheusSpec:
      retention: 3d
      serviceMonitorSelectorNilUsesHelmValues: false
      serviceMonitorNamespaceSelector:
        any: true

  alertmanager:
    enabled: true

image:
  repository: grafana/grafana
  tag: 10.4.1
