postgresql:
  image:
    registry: docker.io
    repository: bitnami/postgresql
    tag: latest
  auth:
    username: prod-movies
    password: movies
    database: movies

  primary:
    persistence:
      enabled: false
